.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a:hover{
    color: orange;
}
.band:hover{
   color: orange; 
   cursor: pointer;
}
